@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/normal";
@import "themes/orange";

@font-face {
    font-family: Consolas;
    src: url("../assets/fonts/Consolas.ttf") format("truetype");
}

.app,
.app_modal {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    min-height: 100vh;
    background-color: var(--bg-color);
}

.content-page {
    display: flex;
}
